In [146]:
import warnings
warnings.filterwarnings("ignore")
import matplotlib.ticker as ticker 
import random
import numpy as np
import pandas as pd
import requests
import lxml.html as lh
import re
import seaborn

In [113]:
url='https://extension2.missouri.edu/G403'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    col.append((name,[]))

#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    '''if len(T)!=3:
        print("Length of T mismatch")
        break'''
#i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content()
        #Check if row is empty
        #if i>0:
        #Convert any numerical value to integers
            #try:
             #   data=int(data)
            #except:
             #   None
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

#Convert List of tuples (with lists) into a dict and then into a dataframe
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [114]:
variables_list=['1959', '1964', '1969', '1974', '1978', '1982', '1987','1992', '1997b', '2002', '2007', '2012', '2017']

In [115]:
df[variables_list]=df[variables_list].replace(to_replace = ';',value = '', regex=True)
df[variables_list]=df[variables_list].replace(to_replace = 'a', value = '', regex=True)
df[variables_list]=df[variables_list].replace(to_replace = ',', value = '',  regex=True)

In [116]:
df.head(5)

,County,1959,1964,1969,1974,1978,1982,1987,1992,1997b,2002,2007,2012,2017
0,Adair,115,118,168,299,511,635,418,454,650,1012,1862,2453,2792
1,Andrew,150,184,279,498,817,958,664,775,1174,1838,2421,3558,3843
2,Atchison,183,221,315,548,1004,941,680,775,1119,1642,2452,4862,4903
3,Audrain,166,211,283,500,1001,1066,686,802,1193,1601,2609,3822,4256
4,Barry,81,116,178,377,620,879,752,829,1309,1678,2582,2538,3429

In [117]:
df = df.astype({'County':'str','1959':'int64','1964':'int64','1969':'int64','1974':'int64','1978':'int64','1982':'int64',
               '1987':'int64','1992':'int64','1997b':'int64','2002':'int64','2007':'int64','2012':'int64','2017':'int64'})

In [118]:
df.rename(columns = {'1959':'_1959_','1964':'_1964_','1969':'_1969_','1974':'_1974_','1978':'_1978_','1982':'_1982_','1987':'_1987_','1992':'_1992_','1997b':'_1997_','2002':'_2002_','2007':'_2007_','2012':'_2012_','2017':'_2017_'}, inplace = True)

In [139]:
df['Delta_1']=(df['_1964_']-df['_1959_'])/df['_1959_']
df['Delta_2']=(df['_1969_']-df['_1964_'])/df['_1964_']
df['Delta_3']=(df['_1974_']-df['_1969_'])/df['_1969_']
df['Delta_4']=(df['_1978_']-df['_1974_'])/df['_1974_']
df['Delta_5']=(df['_1982_']-df['_1978_'])/df['_1978_']
df['Delta_6']=(df['_1987_']-df['_1982_'])/df['_1982_']
df['Delta_7']=(df['_1992_']-df['_1987_'])/df['_1987_']
df['Delta_8']=(df['_1997_']-df['_1992_'])/df['_1992_']
df['Delta_9']=(df['_2002_']-df['_1997_'])/df['_1997_']
df['Delta_10']=(df['_2007_']-df['_2002_'])/df['_2002_']
df['Delta_11']=(df['_2012_']-df['_2007_'])/df['_2007_']
df['Delta_12']=(df['_2017_']-df['_2012_'])/df['_2012_']

In [144]:
df_delta=df[['County','Delta_1','Delta_2','Delta_3','Delta_4','Delta_5','Delta_6','Delta_7','Delta_8','Delta_9','Delta_10','Delta_11','Delta_12']]

In [163]:
df_delta=df_delta.transpose()

ValueError: Length mismatch: Expected axis has 115 elements, new values have 1 elements

In [161]:
seaborn.lineplot(df_delta['County'], df_delta.columns[1], df_delta)
plt.show()
#df_delta.head(10)
#df_delta.columns[1:]

ValueError: Could not interpret input 'Delta_1'

In [153]:
help(df.transpose)

Help on method transpose in module pandas.core.frame:

transpose(*args, **kwargs) method of pandas.core.frame.DataFrame instance
    Transpose index and columns.

    Reflect the DataFrame over its main diagonal by writing rows as columns
    and vice-versa. The property :attr:`.T` is an accessor to the method
    :meth:`transpose`.

    Parameters
    ----------
    copy : bool, default False
        If True, the underlying data is copied. Otherwise (default), no
        copy is made if possible.
    *args, **kwargs
        Additional keywords have no effect but might be accepted for
        compatibility with numpy.

    Returns
    -------
    DataFrame
        The transposed DataFrame.

    See Also
    --------
    numpy.transpose : Permute the dimensions of a given array.

    Notes
    -----
    Transposing a DataFrame with mixed dtypes will result in a homogeneous
    DataFrame with the `object` dtype. In such a case, a copy of the data
    is always made.

    Examples
    --------
    **Square DataFrame with homogeneous dtype**

    >>> d1 = {'col1': [1, 2], 'col2': [3, 4]}
    >>> df1 = pd.DataFrame(data=d1)
    >>> df1
       col1  col2
    0     1     3
    1     2     4

    >>> df1_transposed = df1.T # or df1.transpose()
    >>> df1_transposed
          0  1
    col1  1  2
    col2  3  4

    When the dtype is homogeneous in the original DataFrame, we get a
    transposed DataFrame with the same dtype:

    >>> df1.dtypes
    col1    int64
    col2    int64
    dtype: object
    >>> df1_transposed.dtypes
    0    int64
    1    int64
    dtype: object

    **Non-square DataFrame with mixed dtypes**

    >>> d2 = {'name': ['Alice', 'Bob'],
    ...       'score': [9.5, 8],
    ...       'employed': [False, True],
    ...       'kids': [0, 0]}
    >>> df2 = pd.DataFrame(data=d2)
    >>> df2
        name  score  employed  kids
    0  Alice    9.5     False     0
    1    Bob    8.0      True     0

    >>> df2_transposed = df2.T # or df2.transpose()
    >>> df2_transposed
                  0     1
    name      Alice   Bob
    score       9.5     8
    employed  False  True
    kids          0     0

    When the DataFrame has mixed dtypes, we get a transposed DataFrame with
    the `object` dtype:

    >>> df2.dtypes
    name         object
    score       float64
    employed       bool
    kids          int64
    dtype: object
    >>> df2_transposed.dtypes
    0    object
    1    object
    dtype: object